body {
  font-family: Helvetica;
  margin: 0;
  background-image: url('../images/pattern.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.description {
  font-family: Georgia;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.nav-wrap {
  background-color: rgba(153,238,238,0.5);
}

a:hover { 
  background-color: rgba(171,172,171, 0.7);
  border-radius: 5px;
}

.main-nav {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-nav a {
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
}

.main-nav:first-child {
  padding-left: 0;
}

.main-nav:last-child {
  padding-right: 0;
}

.main-nav .logo {
  
  font-weight: bold;
  font-size: 36px;
  margin-right: auto;
  padding-right: 45px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45191/muffin.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right center;
}

.main-nav .login {
  background-color: #d07;
  border-radius: 5px;
  padding: 7px 16px; 
  margin-left: 20px;
}

.left {
  width: 50%;
}

.right {
  width: 300px;
  line-height: 25px;
}

aside {
  width: 600px;
  margin: 60px;
  background-color: #fff;
  border-radius: 10px;

}

p {
  line-height: 1.5;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.description, .posts {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.2;
}

.posts {
  text-align: left;
  font-size: 1.5em;
  color: #d07;
  margin-left: 20px;
}

.post-author {
  font-size: 0.9em;
}

.blog-entries {
  border-radius: 5px;
}

.blog-entries li {
  padding: 20px;
}

.blog-entries .post-author {
  color: rgba(17,0,17,0.4);

}

.secondary-nav-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.secondary-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0.8em;
}

.secondary-nav a {
  padding: 0 20px;
  border-radius: 5px;

}

.main-footer .copyright {
  text-align: right;
  margin-right: 20px;
  
}
.main-footer {
  background-color: rgba(153,238,238,0.5);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

